.body{
    background-color: rgba(235, 229, 229, 0.808);
    height: 5000px;
}

.header-searchBar{
    background-color: white;
    position: fixed;
    left: 220px;
    right: 0px;
    top: 0px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-menu{
    background-color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 1000px;
    width:220px ;
}

.right-side{
    background-color: white;
    position: absolute;
    right: 20px;
    width: 90px;
    height:max-content ;
   /*border-color:black;
    border-width: 1px;
    border-style: solid;*/
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.not-bell-icon{
   width: 18px; 
}

.user-face-icon{
    width: 100%;
    height: auto;
    
}

.notification-bell{
    
}

.user-icon{
    width: 36px;
    height: 36px;
   border-radius: 32px;
  /* border-color: red;
   border-style: solid;
   border-width: 2px;*/
 overflow: hidden;
 
}

.search-bar{
width: 400px;
height: 45px;
border-color:rgba(235, 229, 229, 0.808);
border-style: solid;
border-width: 2px;
border-radius: 8px;
padding-left: 35px;
font-size: 14px;
}

.search-input{
    display: flex;
    position: absolute;
}

.search-icon{
    width: 24px;
}

.search-icon-box{
    position: relative;
    left: 30px;
    
    display: flex;
    align-items: center;
}

